@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">BookList - Simple book library application</h1>
    <p>All books listed in a one place.<a asp-area="" asp-controller="Books" asp-action="Index"> <br /> Check book list >></a></p>
    <div style="background-color: #ce9e9e"><img src="~/static/background.jpg" alt="background picture" height="600" /></div>
</div>
